extends layout

block content
  div(ng-controller="indexController", ng-init="init()")
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide
        .description.message(id="desc-message")
          | SOHBETE BAĞLANABİLMEK İÇİN KULLANICI ADINIZI GİRDİKTEN SONRA LOGIN TUŞUNA BASINIZ. &nbsp
        form.ui.action.input.fluid(ng-submit="newMessage()",style="width: 100% !important")
          input(placeholder='Type your user name here...', id="username-input")
          button.ui.button(type="submit", id="login-button") Login
    .ui.one.column.stackable.center.aligned.page.grid.margin-30
      .column.twelve.wide(style="width: 100% !important")
        .column.nine.wide(style="width: 80% !important;float:right !important")
          .ui.stacked.segment.gameArea
            .ui.items.chat#chat-area
              .item(ng-repeat="message in messages", style="display:block !important")
                //.content(ng-if="!message.type.code",id="info-span")
                //  span [SERVER]  &nbsp
                //  p.header.name {{ message.username }} &nbsp
                //  .description.message(ng-if="!message.type.message")
                //    | sohbetten ayrıldı.
                //  .description.message(ng-if="message.type.message")
                //    | sohbete katıldı.

                .content(ng-if="message.type.code && message.username == username", class="message-div")
                  p.header.name(class="message-headline") {{ message.username }} &nbsp
                  .description.message(class="message-text")
                    | {{ message.text }}<br>

                .content(ng-if="message.type.code && message.username != username", class="message-div-cross")
                  p.header.name(class="message-headline") {{ message.username }} &nbsp
                  .description.message(class="message-text")
                    | {{ message.text }}<br>

          form.ui.action.input.fluid(ng-submit="newMessage()")
            input(ng-model='message', placeholder='Type here...', id="message-input")
            button.ui.button(type="submit") Send
        .column.three.wide(style="width: 20% !important;float:left !important")
          .ui.stacked.segment.gameArea
            .ui.items.chat#chat-areas
              span [AKTİF KULLANICILAR] &nbsp
              .item(ng-repeat="user in playerList2")
                p.header.name {{ user["username"] }} &nbsp


